<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Mini-Adventskalender</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <center><h1>Adventskalender</h1></center>         
        <form action="" method="POST">            
            <label id="lblKalenderspruch"><%= kalenderspruch %></label>
            <button id="btnButton"><%= buttonbeschriftung %> </button>
        </form>
        <p>&copy; 2018 Mein Name</p>
    </body>
</html>