body  {
  background-image: url("background.jpg");
  background-size:     cover;    
  background-position: center center;  
}

h1 {
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
           0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
           0 0 40px #A5F1FF;
  display:inline-block;
  align-content: center;
  font-size: 9vw; 
	border-bottom: 3px solid #A5F1FF;
  position:relative;top:0;left:0;
}

label { 
  display: block; 
  width: 70%; 
  height: 300px;
}

p{
  color: #D0F8FF;
}

#btnButton {    
  border-radius: 2px;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
           0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
           0 0 40px #A5F1FF;
  color:  #A5F1FF;  
  background-color: Transparent;  
  width:98vw;
  height: 30vw;   
  border: 2px solid #A5F1FF;  
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10vw; 
  margin: 4px 2px;
  cursor: pointer;
}

#lblKalenderspruch {  
  display:inline-block;
  font-size: 10vw; 
  color: #ffffff;
}


#btnAnlegen:hover {
  border-radius: 2px;
}
